.file{
    width: 100%;
}
.line {
    width: 80%;
    margin: 0 auto;
}
.line table{
    border-collapse: collapse;
    /* margin: 20px 0; */
    min-width: 900px;
    width: 100%;
    background-color: #fff;
}
table tr{
    text-align: left;
 }
.file tr{
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.file td{
    font-size: 18px;
    color: #919191;
}
.file table tr td:nth-of-type(1){
    text-align: center;
    width: 50px;
}
.file table tr td:nth-of-type(2){
    width: 400px;
}
.file table tr td:nth-of-type(3){
    text-align: center;
    width: 200px;
}
.file table tr td:nth-of-type(4){
    text-align: center;
    width: 100px;
}
.file table tr td:nth-of-type(4){
    text-align: justify;
    width: 100px;
}