.file{
    width: 100%;
}
.line {
    width: 100%;
    margin: 0 auto;
}
.line table{
    border-collapse: collapse;
    /* min-width: 900px; */
    width: 100%;  
}

table tr{
    text-align: left;
 }
.file tr{
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.file td{
    font-size: 18px;
    color: #919191;
}
.file table tr td:nth-of-type(1){
    text-align: center;
    width: 50px;
}
.file table tr td:nth-of-type(2){
    width: 190px;
}
.file table tr td:nth-of-type(3){
    text-align: center;
    width: 190px;
}
.file table tr td:nth-of-type(4){
    text-align: center;
    width: 100px;
}
.file table tr td:nth-of-type(4){
    text-align: justify;
    width: 100px;
}

.pop-up {
    display: block;
    position: relative;
    /* top: -15px; */
    left: 35%;
    width: 120px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid  #919191;
    text-align: center;
    padding: 5px;
}
.pop-up input {
    width: 90%;
    padding: 5px;
}

@media screen and (max-width: 887px) {
    .line table {
        min-width: 718px;
    }
    .file tr{
        background-color: #fff;
    }
    .pop-up {
        left: 20%;
    }
}